<?xml version="1.0" encoding="utf-8"?>
<configuration>
 
 
  <config>
    <add key="audit" value="false" />
  </config>
  <packageSources>
    <clear />
 <add key="LocalSDK" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages" />
    <add key="MyG_DrivePackages" value="G:\迅雷下载\packages" />
	   <add key="huawei" value="https://repo.huaweicloud.com/repository/nuget/v3/index.json" />
	<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />

 
   
  </packageSources>
</configuration>